@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.paddingX {
  @apply px-4 md:px-20
}

.padingContainer {
  @apply paddingX py-8 md:pt-8 md:pb-20
}

.navbarItem {
  @apply rounded-full bg-white py-1 px-4
}

.navbarLink {
  @apply hover:bg-secondary/10 ease-in-out duration-300 py-1 px-2 lg:px-6 rounded-full
}

div.carousel.carousel-slider {
  overflow: visible;
}

.animated-button {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #EBCC05);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.textBorder {
  text-shadow: 
      -3px -3px 0 #fff,  
      3px -3px 0 #fff,
      -3px 3px 0 #fff,
      3px 3px 0 #fff; /* Define el sombreado como el borde */
}